<main>
  <h1>Location Search</h1>
  <!-- Button to search find coordinates -->
  <%= form_tag(locations_path, method: :get) do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("geocode") %>
  <% end %><br>

  <h2>Coordinates:</h2>
  <%= @coordinates %>
</main>

